<!DOCTYPE html>
<html>

<head>
	<title>Listagem de Professores</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="panel-default">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Listagem de Professores</h1>
			</div>
			<div class="panel-body">
				<div>
					<a th:href="@{cadastrar/}" class="btn btn-sm btn-success">CADASTRAR NOVO CURSO</a>
				</div>
				<div class="table-responsive">
					<table class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>NOME</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="professor: ${professores}">
								<td th:text="${professor.id}"></td>
								<td th:text="${professor.nome}"></td>
								<td>
									<div class="btn-group pull-right">
										<a th:href="@{editar/{id}(id=${professor.id})}" class="btn btn-sm btn-primary">Alterar</a>
										<a th:href="@{excluir/{id}(id=${professor.id})}"
											class="delete btn btn-sm btn-danger">Excluir</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>